<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Let's Change {{item}}'s Info!</h1>
    </div>
    <form>
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" size="30" name="name" placeholder="{{item}}">
                </td>
            </tr>
            <tr>
                <td>
                    Course:
                </td>
                <td>
                    <input type="text" size="30" name="course" placeholder="{{item}}">
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea placeholder="{{item}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input type="text" size="30" name="price" placeholder="{{item}}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <a href="#">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>