<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Let's Change {{item.name}}'s Info!</h1>
    </div>
    <form method="POST">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" size="30" name="name" placeholder="{{item.name}}">
                </td>
            </tr>
            <tr>
                <td>
                    Course:
                </td>
                <td>
                    <input type="text" size="30" name="course" placeholder="{{item.course}}">
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea name="description" placeholder="{{item.description}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input type="text" size="30" name="price" placeholder="{{item.price}}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>