<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Add A Menu Item To {{restaurant.name}}</h1>
    </div>
    <form method="POST">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" size="30" name="name" placeholder="Onion Ring Bomb">
                </td>
            </tr>
            <tr>
                <td>
                    Course:
                </td>
                <td>
                    <input type="text" size="30" name="course" placeholder="Entree">
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea placeholder="delicious food" name="description"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input type="text" size="30" name="price" placeholder="$1,000,000,000">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>