<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>Add Your Restaurant!</h1>
    </div>
    <form>
        <table>
            <tr>
                <td>
                    name:
                </td>
                <td>
                    <input type="text" name="name" placeholder="Awesome Burger">
                </td>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <a href="#">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>